@font-face {
  font-family: 'iconfont';  /* Project id 2521635 */
  src: url('//at.alicdn.com/t/font_2521635_j4fkt9iq23i.woff2?t=1619774701083') format('woff2'),
       url('//at.alicdn.com/t/font_2521635_j4fkt9iq23i.woff?t=1619774701083') format('woff'),
       url('//at.alicdn.com/t/font_2521635_j4fkt9iq23i.ttf?t=1619774701083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinbi:before {
  content: "\e6c0";
}

.icon-re2:before {
  content: "\e600";
}

.icon-top01:before {
  content: "\e64e";
}

.icon-youjiantou:before {
  content: "\e75e";
}

.icon-shouye:before {
  content: "\e627";
}

.icon-wode:before {
  content: "\e654";
}

.icon-huabanfuben:before {
  content: "\e65e";
}

.icon-bofang:before {
  content: "\e7fd";
}

.icon-chakan:before {
  content: "\e628";
}

.icon-zhongguodianxin:before {
  content: "\e6d0";
}